body {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
}

body::before {
    content: "";
    position: fixed;
    top: -150%;
    left: -150%;
    width: 400%;
    height: 400%;
<<<<<<< HEAD
    background-image: url('./genchi.png');
=======
>>>>>>> 7079a5990020d28c8507147518c8563292720072
    background-image: url('../genchilocal.png');
    background-repeat: repeat;
    opacity: 0.15;
    transform: rotate(45deg);
    z-index: -1;
    background-size: 80px; 
    
}
