body {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
}

body::before {
    content: "";
    position: fixed;
    top: -150%;
    left: -150%;
    width: 400%;
    height: 400%;
    background-image: url('../genchi.png');
    background-repeat: repeat;
    opacity: 0.15;
    transform: rotate(45deg);
    z-index: -1;
    background-size: 80px; 
    
}