.region {
    fill: #cccccc;  /* Color de las regiones por defecto */
    cursor: pointer;  /* Cambiar el cursor a mano cuando se pasa sobre la región */
    transition: fill 0.3s ease;  /* Transición suave para el efecto hover */
}

.region:hover {
    fill: #ffcc00;  /* Color cuando el cursor pasa por encima */
}

.selected {
    fill: #ff6600;  /* Color cuando se selecciona una región */
}
