body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

table {
    width: 10%;
    margin-left: 100px;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

th {
    background-color: #006400;
    /* Verde oscuro */
    color: white;
    padding: 10px;
    text-align: center;
}

td {
    background-color: #8fbc8f;
    color: #2c6b2f;
    
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) td {
    background-color: #b5e7a0;
    /* Verde claro */
}

tr:hover td {
    background-color: #7fae7d;
    /* Verde hierba */
}